<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Bookings</h5>
          
          <div class="row">
            <div class="col-md-10">
          <h4 class="card-title">Booked Vehical</h4>
        </div>
        <div class="col-md-2 btn-round  p-3" (click)="openModal(template)"><i class="fas fa-plus"></i></div>
        </div>
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-md-6 text-muted"> vehical Number </div>
              <div class="col-md-6 text-muted"> Date </div>
          </div>
            <div class="row" *ngFor="let vh of vehicaldetails">
                <div class="col-md-5 text-muted">
                  <ul>
                    <li>{{vh.v_n}}</li>
                  </ul>
              </div>
                <div class="col-md-6 text-muted">
                  <ul>
                    <li>{{vh.date}}</li>
                  </ul>
                </div>
              </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>

    <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
     
    <ng-template #template >
      <div class="modal-header bg-dark ">
        <h6 class="modal-title pull-left text-danger">Add New Vehical</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-secondary">
        <div class="row">
          <div class="col-md-6">Enter vehical Number <br>
          <input type="text" placeholder="vehical Number" [(ngModel)]="vehicalObj.v_n" >
        </div>
          <div class="col-md-6">Enter Date <br>
          <input type="date" [(ngModel)]="vehicalObj.date" (input)="validate($event)">
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9" *ngIf="isForButton">
              <button class="btn btn-danger" (click)="addVehical()">Add</button>
            </div>
          </div>
      </div>
    </ng-template>
    <div class="col-lg-6 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Waiting List</h5>
          <h4 class="card-title">All waitting List</h4>
    
        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-muted"> vehical Number </div>
                    <div class="col-md-6 text-muted"> Date </div>
                </div>
                  <div class="row" *ngFor="let vh of waittingList">
                      <div class="col-md-5 text-muted">
                        <ul>
                          <li>{{vh.v_n}}</li>
                        </ul>
                    </div>
                      <div class="col-md-6 text-muted">
                        <ul>
                          <li>{{vh.date}}</li>
                        </ul>
                      </div>
                    </div>
              </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
 
  </div>
</div>
